.bg-light{
    background-color: white !important;
}

.subtitle{
    color: #555;
}

.card-price{
    font-size: 1.2rem;
    font-weight: bold;
}

.total-price{
    font-size: 1.4rem;
    small{
        font-size: 0.8rem;
    }
}